@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --mainRed:#E94B3CFF;
    --dark-cl:#2D2926FF;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --bgr-color-hole: #f8f8ff;
    --black:#2D2926FF;
}
/* WebKit (Safari and Chrome) */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--mainRed); /* color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--mainRed); /* color of the scrollbar thumb on hover */
  }
  
  /* Firefox */
  ::-moz-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
  
  ::-moz-scrollbar-thumb {
    background-color: var(--mainRed); /* color of the scrollbar thumb */
  }
  
  ::-moz-scrollbar-thumb:hover {
    background-color: var(--mainRed); /* color of the scrollbar thumb on hover */
  }
  
  /* Microsoft Edge and IE */
  ::-ms-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
  
  ::-ms-scrollbar-thumb {
    background-color: var(--mainRed); /* color of the scrollbar thumb */
  }
  
  ::-ms-scrollbar-thumb:hover {
    background-color: var(--mainRed); /* color of the scrollbar thumb on hover */
  }
.djg{
    color: #252531cc;
    background:#750a17;
}
.ant-input-group-addon{
background-color:var(--mainRed) !important;
}
.ant-input-group-addon button{
    display: flex !important;
    align-items: center!important;
    justify-content: center!important;
}
.searchBox .ant-drawer-body{
    height: 100px !important;
    overflow: hidden !important;
    padding: 0px !important;
    display: flex !important;
    align-items: center!important;
    justify-content: center!important;
}
.ant-input-wrapper {
    width: 300px !important;
}
.ant-drawer-wrapper-body{
    background-color: var(--dark-cl) !important;
    color: #fff;
}
.anticon-close{
    color: #fff;
    font-size: 21px;
}
#container {
  width: 100px;
  height: 125px;
  margin: auto auto;
}

.loading-title {
  display: block;
  text-align: center;
  font-size: 20;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
  color: #888;
}

.loading-circle {
  display: block;
  border-left: 5px solid;
  border-top-left-radius: 100%;
  border-top: 5px solid;
  margin: 5px;
  animation-name: Loader_611;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sp1 {
  border-left-color: var(--dark-cl);
  border-top-color: var(--dark-cl);
  width: 40px;
  height: 40px;
}

.sp2 {
  border-left-color: var(--mainRed);
  border-top-color: var(--mainRed);
  width: 30px;
  height: 30px;
}

.sp3 {
  width: 20px;
  height: 20px;
  border-left-color: #c99f17;
  border-top-color: #c99f17;
}

@keyframes Loader_611 {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
  }

  25% {
    transform: rotate(90deg);
    transform-origin: right bottom;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: right bottom;
  }

  75% {
    transform: rotate(270deg);
    transform-origin: right bottom;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right bottom;
  }
}

   .ourProducts .slick-track{
    display: flex !important;
    gap: 10px !important;
}
.productSlider .slick-track{
    display: flex !important;
    gap: 10px !important;
    height: 405px !important;
    background-color: #fff !important;
}

.slick-prev:before, .slick-next:before {
    color: #EB1D36 !important;
}
.slick-next {
    right: -19px !important;
}
.slick-prev {
    left: -19px !important;
}
.producttext::-webkit-scrollbar {
    display: none !important;
}
.contact-info_h {

  width: 100%;
  background: var(--bgr-color-hole);
  height: 100%;
  text-align: center;
  padding: 10px;

}

.contact-info_h .active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info_h #close-contact-info {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}

.contact-info_h #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact-info_h .info {
  padding: 0.5rem 0;
      display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info_h .info a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info_h .info .icons_box {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  background: var(--light-bg);
  color: var( --dark-cl);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
  border-radius: 10px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info_h .info .icons{

}

.contact-info_h .info .icons_box:hover {
  background: var(--mainRed);
  color: var(--white);
}

.contact-info_h .info h3 {
  font-size: 1.2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.contact-info_h .info p {
  font-size: 1.1rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info_h .share {
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: var(--border);
      display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info_h .share a {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.5rem;
  background: var(--light-bg);
  color: var(--dark-cl);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
  text-decoration: none;
  border-radius: 10px;
      display: flex;
    align-items: center;
    justify-content: center;
}
.close-info{
  font-size: 3rem;
}
.contact-info_h .share a:hover {
  background: var(--mainRed);
  color: var(--white);
}
.hover_border{
  transition: all 0.5s ease;
}
.hover_border:hover{
    border: 2px solid var(--dark-cl);
}
.infoBox .ant-drawer-wrapper-body{
  background-color: var(--bgr-color-hole) !important;
}
.infoBox .anticon-close{
  color: var(--dark-cl);
}
.infoBox .ant-drawer-body{
padding: 0px 16px !important;
}
@media screen and (max-width:767px){
    .productSlider .slick-track{
        height: 350px !important;
    } 
}